@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>MyVk</title>
    <link rel="stylesheet" href="Content/bootstrap/bootstrap.min.css">
</head>

<body>
    <div id="tw">
        <table-weather></table-weather>
    </div>

    <script src="Scripts/bootstrap/jquery-3.5.1.min.js"></script>
    <script src="Scripts/bootstrap/popper.min.js"></script>
    <script src="Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="Scripts/vue/vue.js"></script>
    <script src="Scripts/script.js" type="module"></script>
</body>

</html>